<main>
    <div class="landing-intro">
        <h1>Welcome username to your specific page.</h1>
    </div>
    <div class="links">
        <p>This is your very personal page.</p>
    </div>
    <div class="options">
        <a href="/login">Logout</a>
    </div>
</main>