<main>
    <div class="landing-intro">
        <h1>This is our landing page.</h1>
    </div>
    <div class="links">
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
</main>